html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(39, 33, 33);
  padding: 1rem; /*1 rem=16px;*/
}
header > a {
  color: white;
  text-decoration: none;
}
main {
  padding: 1rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  margin: 1rem;
  border: 1px solid black;
  width: 200px;
}
.product img {
  height: 200px;
  width: 200px;
}
.product-info {
  padding: 1rem;
}
